.gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.header{
	text-align: center;
}
.photo-card{
	text-align: center;
}
.photo-card img{
width: 100%;
height: 600px;
object-fit:cover;
object-radius:8px ;
}
img:hover {
opacity: 0.8;
transform: scale(1.05);
transition: all 0.3s;;
}
body{
	font-family: sans-serif;
	background: linear-gradient(120deg, #ffecd2 0%, #fcb69f 100%);
}
img{
box-shadow: 0 8px 20px rgba(0,0,0,0.25);
width: 300px; 
height: auto; 
border: 2px solid #333; 
border-radius: 10px; 
margin: 10px; 
}
.responsive-img {
width: 100%;
max-width: 600px;
height: auto;
}

@media(min-width: 1200px)
{
	.gallery{
		grid-template-columns: repeat(4, 1fr);
	}
}
@media(max-width: 768px){
	.gallery{
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width: 480px){
	.gallery{
		grid-template-columns: 1fr;
	}
}